﻿@using InvestmentFront.Models
@model ProductInfo


<div class="card card-header-pills m-1 p-1">
    <div class="bg-light p-1">
        <h4>
            @Model.Name
            <span class="badge badge-pill badge-primary" style="float:right;">
                <small>@Model.AnnualRate.ToString("c")</small>
                <small>@Model.Category</small>
            </span>
        </h4>
    </div>
    <form id="@Model.ProductID" asp-action="AddLoanRequest" asp-controller="Loan" method="post">
        <input type="hidden" asp-for="ProductID" />
        @Html.LabelFor(x => x.Amounts)
        <label asp-for="Amount"></label>
        <select asp-for="Amount" asp-items="@Model.Amounts"></select>
        <label asp-for="Term"></label>
        <select asp-for="Term" asp-items="@Model.Terms"></select>
        <span class="card-text p-1">
            <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                GetLoan
            </button>
        </span>
    </form>
</div>
